---
import HeroSection from "../components/HeroSection.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import SliderReact from "../components/ui/Slider.jsx"

---




<BaseLayout>
	<main>
		<HeroSection />
		<SliderReact client:load />	
	</main>
</BaseLayout>

