---
import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";


---
<html lang="es">
    <BaseHead />
	<body>
        <header>
            <Nav />
        </header>
		<slot>
	</body>
</html>